@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    
    /* text  */
    --very-dark-desaturated-blue:hsl(238, 29%, 16%);
    --soft-red:hsl(14, 88%, 65%);

    /* background  */
    --soft-violet:hsl(273, 75%, 66%);
    --soft-blue:hsl(240, 73%, 65%);

    /* text  */
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue:hsl(240, 6%, 50%);

    /* dividers  */
    --light-grayish-blue: hsl(240, 5%, 91%);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(223deg, var(--soft-violet) 0%, var(--soft-blue) 49%, var(--soft-blue) 100%); 
    min-height: 100vh;
    padding: 0 1em;
}

img{
    max-width: 100%;
}

.main-card{
    display: flex;
    background-image: url(images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -480px -245px;
    max-width: 900px;
    max-height: 480px;
    width: 100%;
    background-color: white;
    position: relative;
    padding: 4em 0;
    border-radius: 25px;
    box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.36);
}

.card-image,
.card-text{
    width: 50%;
}

.card-image{
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.woman-img{
    max-width: 500px;
    margin-left: -4.5em;
}

.box-img{
    position: absolute;
    left:-5.8em;
    top: 12.5em;
    z-index: 999;
}

.card-text{
    max-height: 360px;
    padding: 0 3em;
    font-family:"Kumbh Sans";
}

.card-text h1{
    margin: .5em 0;
    color: var(--very-dark-desaturated-blue);
}

.item{
    padding: 1em 0;
    border-bottom: 1px solid var(--light-grayish-blue);
    cursor: pointer;
}

.question{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: var(--very-dark-grayish-blue);
    transition: .2s;
}

.question:hover{
    color: var(--soft-red);
}

.question::after{
    content: '';
	margin-right: 10px;
	width: 15px;
	height: 12px;
	background-image: url(images/icon-arrow-down.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-color: rgba(255, 255, 255, 0);
	transform: rotate(180deg);
    transition: .2s;
}

.question.active::after{
	  transform: rotate(0deg);
}

.response{
    display: none;
    color: var(--dark-grayish-blue);
    margin-top: .5em;
}

.active{
    font-weight: bold;
}

footer{
    margin: 1em 0;
    color: white;
    font-family:"Kumbh Sans";
    text-align: center;
}

footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

@media screen and (max-width:900px) {
    .main-card{
        max-width: 650px;
        max-height: 100%;
        padding: 2em 0;
        background-position: -360px -215px;
    }
    .card-image{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .card-image img{
        max-width: 100%;
    }
    .box-img{
        width: 150px;
        top: 7.3em;
        left: -4.4em;
    }
    .card-text{
        padding: 0;
        font-size: smaller;
        padding-right: 2em;
    }
}

@media screen and (max-width:680px) {
    body{
        height: 130vh;
    }
    .main-card{
        position: relative;
        flex-direction: column;
        max-width: 380px;
        min-width: 330px;
        min-height: 70vh;
        padding: 0 1.5em 5em 1.5em;
        background-image: url(images/bg-pattern-mobile.svg);
        background-size: 75%;
        background-repeat: no-repeat;
        background-position: 3em 0;
    }
    .card-image,
    .card-text{
        width: 100%;
    }
    .box-img{
        display: none;
    }
    .card-image{
        overflow: visible;
        min-height: 100px;
        height: 150px;
        display: block;
    }
    .woman-img{
        min-width: 300px;
        position: absolute;
        margin: auto;
        top: -9em;
    }
    .card-text{
        padding: 0;
    }
    .card-text h1{
        text-align: center;
    }
    .item{
        min-width: 300px;
    }
}
